[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sanitizers-cmake"]
	path = external/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "external/coveralls-cmake"]
	path = external/coveralls-cmake
	url = https://github.com/studer-l/coveralls-cmake.git
	branch = mergeGCDA
